header {
    height: 150px;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
}

.header-image {
    padding-left: 50px;
    height: 100%;
}

.text-center-last-col {
    display: flex;
    justify-content: center;
}

.header-text {
    text-align: center;
}

.main {
    margin-top: 30px;
}

.main .date {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.main .headingDateStatus {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.main .status {
    background-color: red;
    color: white;
    padding: 5px 10px;
    display: inline-block;
    font-weight: bold;
    font-size: 1.5rem;
}

.btn {
    font-weight: bold;
    font-size: 1.5rem;
}

.table th,
.table td {
    font-size: 1.2rem;
}

.left-row {
    padding-left: 50px;
}

.right-row {
    padding-right: 50px;
}