@using ProjectAspoeck.Models

@model ProjectAspoeck.Models.Order_DetailModel
@{
    ViewData["Title"] = "Bestellung - Detailansicht";
}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bestellung aufgeben</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
        .container {
            margin-top: 50px;
        }

        img {
            max-width: 50px;
        }

        .header {
            height: 150px;
            display: flex;
            align-items: center;
            background-color: #f2f2f2;
        }

        .header-image {
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .header-button {
            height: 100px;
        }

        .header-text {
            text-align: center;
        }
    </style>
</head>
<body>
    <header class="bg-light py-3" style="height: 150px">
        <div class="container-fluid h-100">
            <div class="row align-items-center h-100">
                <div class="col-3 header-image">
                    <img src="path/to/image.jpg"
                         class="img-fluid align-middle"
                         alt="Logo" />
                </div>
                <div class="col-6 header-text">
                    <h1 class="mb-0">Jausen Bestellung</h1>
                </div>
                <div class="col-3 text-center py-2">
                    <span class="text-center-last-col">
                        <button type="button" class="btn btn-lg">
                            <i class="fa fa-gear"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <p>Bestellung von <strong>Max Mustermann</strong></p>
                <p>am <strong>07.03.2023</strong></p>
            </div>
            <div class="col-6">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Bild</th>
                                <th>Bezeichnung</th>
                                <th>Preis</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="https://via.placeholder.com/50x50.png?text=Bild+1"
                                         alt="Bild 1" />
                                </td>
                                <td>Semmel</td>
                                <td>1,20 €</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://via.placeholder.com/50x50.png?text=Bild+2"
                                         alt="Bild 2" />
                                </td>
                                <td>Brezel</td>
                                <td>2,40 €</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://via.placeholder.com/50x50.png?text=Bild+3"
                                         alt="Bild 3" />
                                </td>
                                <td>Semmel mit Butter</td>
                                <td>1,80 €</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <p>Anzahl Artikel: <strong>3</strong></p>
                <p>Preis insgesamt: <strong>5,40 €</strong></p>
                <p>Status: <strong>nicht bezahlt</strong></p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <button href="#" class="btn btn-warning" onclick="window.history.back()">Zurück </button>
            </div>
        </div>
    </div>
</body>
</html>
