@using ProjectAspoeck.Models

@model ProjectAspoeck.Models.SettingsModel
@{
    ViewData["Title"] = "Startseite";
}


<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jausen Bestellung</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- Custom CSS -->
    <style>
      .header {
        height: 150px;
        display: flex;
        align-items: center;
        background-color: #f2f2f2;
      }

      .header .logo {
        height: 100%;
        margin-right: 20px;
      }

      .header h1 {
        margin: 0 auto;
      }

      .header btn {
        margin-left: 20px;
      }

      .header img {
        display: block;
      }

      media only screen and (max-width: 768px) {
        .header {
          flex-wrap: wrap;
        }

        .header .logo {
          margin-right: 0;
          margin-bottom: 10px;
        }

        .header h1 {
          width: 100%;
          text-align: center;
        }

        .header btn {
          margin-left: 0;
          margin-top: 10px;
        }
      }

      .main {
        margin-top: 30px;
      }

      .main .date {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }

      .main .headingDateStatus {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .main .status {
        background-color: red;
        color: white;
        padding: 5px 10px;
        display: inline-block;
        margin-right: 10px;
        font-weight: bold;
        font-size: 1.5rem;
      }

      .main button {
        margin-top: 20px;
        display: block;
      }

      .btn {
        background-color: #ffa500;
        color: white;
        font-size: 1.5rem;
      }

      .disabled {
        background-color: #ffa500;
        opacity: 0.5;
      }

      .table th,
      .table td {
        font-size: 1.2rem;
      }
    
      .div-border {
        border: 2px solid #ccc; /* 2 Pixel breiter Rand, graue Farbe */
        padding: 5px; /* 10 Pixel Innenabstand */
        margin: 50px; /* 20 Pixel Außenabstand */

        }

      .div-email {
        margin-right: 50px; /* 20 Pixel Außenabstand */
        margin-left: 50px;
        }
        .div-email2 {
        margin-right: 50px; /* 20 Pixel Außenabstand */
        margin-left: 50px;
        }

    </style>
  </head>
<div class="container-fluid">
  <body>
    
      <div class="header center">
        <img class="logo" src="Images/aspoeck_logo.png" alt="Aspöck Logo" />
        <h1>Jausen Bestellung</h1>
        <img src="Images/settings_button.png" alt="Settings Button" />
      </div>     
          <div class="form-group">
            <div class="form-check">
            <div class="col-md-6">
            <h2>Benachrichtigungen</h2>
            <div class="form-group">
              <label for="email" class="div-email">
                  E-Mail:</label>
            <input type="email" value="@Model.Email" class="form-control div-email" id="email" />
            </div>
            <div class ="form-group div-border"> 
            <div class="form-group">
              <label for="notification-before-order-deadline"
                >Ich möchte vor Bestellungsschluss eine Benachrichtigung erhalten</label>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  checked = "@Model.RememberToOrder"
                  id="notification-before-order-deadline"
                />
                <label class="form-check-label" for="notification-before-order-deadline">
                  Ja
                </label>
              </div>
            </div>
            
            <div class="form-group"  >
                                <label for="notification-time-before-order-deadline">
                                    Wann möchtest du benachrichtigt werden?
                                </label>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="notification-time-before-order-deadline"
                  id="15min"
                  value="15min"
                />
                <label class="form-check-label" for="15min">
                  15 min vor 8:00:00
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="notification-time-before-order-deadline"
                  id="30min"
                  value="30min"
                />
                <label class="form-check-label" for="30min">
                  30 min vor 8:00:00
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="notification-time-before-order-deadline"
                  id="60min"
                  value="60min"
                />
                <label class="form-check-label" for="60min">
                  60 min vor 8:00:00
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="payment-deadline-notification"
                >Ich möchte über das Ende der Zahlungsfrist informiert werden</label
              >
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  checked="@Model.RememberToPay"
                  id="payment-deadline-notification"
                />
                <label class="form-check-label" for="payment-deadline-notification">
                  Ja
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="payment-deadline-notification-time">
                Wann möchtest du benachrichtigt werden?
              </label>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="payment-deadline-notification-time"

                  id="1day"
                  value="1day"
                />
                <label class="form-check-label" for="1day">
                  1 Tag
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="payment-deadline-notification-time"
                  id="2days"
                  value="2days"
                />
                <label class="form-check-label" for="2days">
                  2 Tage
                </label>
                
                <button type="submit" class="btn btn-warning" style="position: absolute; top: 50px; left: -5px;">Speichern</button>
              </div>
              
            </div>
                    </div>
                    </div>
                </div>
            </div>
        
  </body>

  </div>
